<%- include('./layouts/header') %>
<%- include('./layouts/searchBar.ejs') %>

<div class="weui-tab index">
  <div class="weui-tab__panel">
    <div style="display:block" class="tab-item">
        <div class="head-bg">
            <ul class="tags-list formal">
                <li class="active">全部</li>
                <% for (var i = 0; i < f_tags.length; i++) { %>
                    <li><%= f_tags[i] %></li>
                <% } %>
            </ul>
        </div>
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">正式课程列表</div>
            <div class="weui-panel__bd formal">
            </div>
        </div>
    </div>
    <div style="display:none" class="tab-item">
        <div class="head-bg">
            <ul class="tags-list audition">
                <li class="active">全部</li>
                <% for (var i = 0; i < a_tags.length; i++) { %>
                    <li><%= a_tags[i] %></li>
                <% } %>
            </ul>
        </div>
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">试听课程列表</div>
            <div class="weui-panel__bd audition">
            </div>
        </div>
    </div>
    <div style="display:none" class="tab-item">Page 3</div>
    <div style="display:none" class="tab-item">
        <div class="profile">
            <img src="http://wx.qlogo.cn/mmopen/vi_32/cg0yk4ZMVAxMUqPyqecm705oibkb40Vm6hGxt3MqAl4epic4rM4bvdLAVibWiaGkUbBcziaRlVSTphhtZ5qmDmpZFqA/0">
            <div>
                <span class="nickname"></span>
                <span class="city">九江</span>
            </div>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access my-link" href="javascript:;" data-href="myOrder">
                <div class="weui-cell__hd"><img src="/images/myOrder.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>我的订单</p>
                </div>
            </a>
            <a class="weui-cell weui-cell_access my-link" href="javascript:;" data-href="myCourse">
                <div class="weui-cell__hd"><img src="/images/myCourse.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>我的课程</p>
                </div>
            </a>
            <a class="weui-cell weui-cell_access my-link" href="javascript:;" data-href="myAudition">
                <div class="weui-cell__hd"><img src="/images/myAudition.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>我的试听</p>
                </div>
            </a>
        </div>
    </div>    
  </div>
  <div class="weui-tabbar">
      <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on" data-link="formal">
          <img src="images/course.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">课程报名</p>
      </a>
      <a href="javascript:;" class="weui-tabbar__item" data-link="audition">
          <img src="images/shiting.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">试听预约</p>
      </a>
      <a href="javascript:;" class="weui-tabbar__item" data-link="teacher">
          <img src="images/teacher.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">教师风采</p>
      </a>
      <a href="javascript:;" class="weui-tabbar__item" data-link="personal">
          <img src="images/me.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">我的信息</p>
      </a>
  </div>
</div>

<script>
    if (!!'<%= token %>' && !!'<%= openid %>') {
        var token = '<%= token %>'
        var openid = '<%= openid %>'
        localStorage.setItem('wechat-token', token)
        localStorage.setItem('openid', openid)
    }
</script>
<script src="/js/index.js"></script>
<%- include('./layouts/footer') %>